@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-R.ttf');
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3 {
  margin: 20px 0;
  font-size: 32px;
  text-align: center;
  font-weight: normal;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.container {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  color: #424e3e;
  font-size: 15px;
  line-height: 23px;
}
header,
.block2,
.block3,
footer {
  min-width: 960px;
}
address.phone {
  font-size: 20px;
  line-height: 31px;
  padding-left: 38px;
  color: #404b1d;
  background: url('../img/phone-icon.png') no-repeat left center;
}
.phone-top {
  position: absolute;
  right: 20px;
  top: 10px;
}
.phone-bottom {
  width: 315px;
  margin: 15px auto 0;
}
.content {
  text-align: center;
}
input[type=text],
input[type=email] {
  outline: none;
}
input[type=text]:focus,
input[type=email]:focus {
  border: 1px solid #7878d8 !important;
}
textarea {
  outline: none;
}
textarea:focus {
  border: 1px solid #7878d8 !important;
}
header {
  padding-top: 20px;
  min-height: 535px;
  background: url('../img/header-bg.jpg') no-repeat center center;
}
header h1 {
  margin: 0;
  font-size: 26px;
  line-height: 50px;
}
header h1 span {
  margin: 0 2px;
  padding: 6px 10px;
  text-transform: uppercase;
  color: #fff;
  background: #7878d8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
header .logo {
  display: block;
  width: 200px;
  height: 164px;
  margin: 0 auto;
  background: url('../img/logo.png') no-repeat center center;
}
.block2 {
  background: url('../img/block1-bg.jpg') no-repeat center center;
  padding: 50px 0 0;
}
.block2 .inline-form {
  margin-top: 60px;
  position: relative;
  text-align: center;
}
.block2 .inline-form input[type=text],
.block2 .inline-form input[type=email] {
  width: 423px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #6464d2;
}
.block2 .inline-form input.name {
  padding-left: 35px;
  background: url('../img/input-name-icon.png') no-repeat left 10px center;
}
.block2 .inline-form input.phone {
  padding-left: 35px;
  background: url('../img/input-phone-icon.png') no-repeat left 10px center;
}
.block2 .inline-form .form-title {
  font-size: 32px;
}
.block2 .inline-form input[type=submit] {
  position: relative;
  z-index: 10;
  display: block;
  width: 423px;
  height: 67px;
  margin: 5px auto;
  background: #7878d8;
  border: none;
  color: #f4eade;
  font-size: 30px;
}
.block2 .inline-form input[type=submit]:hover {
  background: #8c8cde;
}
.block2 .inline-form .man-left,
.block2 .inline-form .man-right {
  position: absolute;
  z-index: 1;
}
.block2 .inline-form .man-left {
  width: 245px;
  height: 217px;
  left: 30px;
  bottom: -73px;
  background: url('../img/man1-icon.png') no-repeat center center;
}
.block2 .inline-form .man-right {
  width: 279px;
  height: 279px;
  right: 25px;
  bottom: -97px;
  background: url('../img/man2-icon.png') no-repeat center center;
}
.block3 {
  background: url('../img/block2-bg.png') no-repeat center center;
  height: 450px;
  padding: 90px 0;
  position: relative;
  bottom: -130px;
  color: #fff;
}
.block3 .advantages-list {
  margin-top: 50px;
  text-align: center;
}
.block3 .advantage-single {
  display: inline-block;
  width: 15.5%;
  vertical-align: top;
  text-align: center;
  margin-right: -4px;
}
.block3 .img-wrapper {
  height: 78px;
}
footer {
  background: url('../img/footer-bg.jpg') no-repeat center center;
  height: 625px;
  padding-top: 155px;
  text-align: center;
}
footer .order-btn {
  display: block;
  width: 423px;
  height: 67px;
  margin: 25px auto;
  background: #7878d8;
  border: none;
  color: #f4eade;
  font-size: 30px;
  text-decoration: none;
  padding-top: 20px;
}
footer .order-btn:hover {
  background: #8c8cde;
}
#thanks {
  margin: 0 auto;
  width: 720px;
  padding: 40px 0;
  background: #eeefea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  text-align: center;
}
#thanks p {
  font-size: 24px;
}
.popup-form {
  margin: 0 auto;
  width: 720px;
  padding: 40px 0;
  background: #eeefea;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  text-align: center;
}
.popup-form input[type=text],
.popup-form input[type=email] {
  width: 423px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #6464d2;
}
.popup-form textarea {
  width: 423px;
  height: 170px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
  color: #6464d2;
  resize: none;
}
.popup-form input.name {
  padding-left: 45px;
  background: url('../img/input-name-icon.png') no-repeat left 15px center #ffffff;
}
.popup-form input.phone {
  padding-left: 45px;
  background: url('../img/input-phone-icon.png') no-repeat left 15px center #ffffff;
}
.popup-form input.email {
  padding-left: 45px;
  background: url('../img/input-email-icon.png') no-repeat left 10px center #ffffff;
}
.popup-form .form-title {
  font-size: 32px;
}
.popup-form input[type=submit] {
  position: relative;
  z-index: 10;
  display: block;
  width: 215px;
  height: 55px;
  margin: 5px auto;
  background: #7878d8;
  border: none;
  color: #f4eade;
  font-size: 24px;
}
.popup-form input[type=submit]:hover {
  background: #8c8cde;
}
