@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu-R.ttf');
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
	font-style: normal;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3 {
	margin: 20px 0;
	font-size: 32px;
	text-align: center;
	font-weight: normal;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.container {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
}
body {
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	color: #424e3e;
	font-size: 15px;
	line-height: 23px;
}
header, .block2, .block3, footer {
	min-width: 960px;
}
address.phone {
	font-size: 20px;
	line-height: 31px;
	padding-left: 38px;
	color: #404b1d;
	background: url('../img/phone-icon.png') no-repeat left center;
}
.phone-top {
	position: absolute;
	right: 20px;
	top: 10px;
}
.phone-bottom {
	width: 315px;
	margin: 15px auto 0;
}
.content {
	text-align: center;
}
input[type=text], input[type=email] {
	outline: none;
}
input[type=text]:focus, input[type=email]:focus {
	border: 1px solid #7878d8 !important;
}
textarea {
	outline: none;
}
textarea:focus {
	border: 1px solid #7878d8 !important;
}
header {
	padding-top: 20px;
	min-height: 535px;
	background: url('../img/header-bg.jpg') no-repeat center center;

	h1 {
		margin: 0;
		font-size: 26px;
		line-height: 50px;

		span {
			margin: 0 2px;
			padding: 6px 10px;
			text-transform: uppercase;
			color: #fff;
			background: #7878d8;
			-webkit-border-radius: 6px;
			-moz-border-radius: 6px;
			-ms-border-radius: 6px;
			-o-border-radius: 6px;
			border-radius: 6px;
		}
	}
	.logo {
		display: block;
		width: 200px;
		height: 164px;
		margin: 0 auto;
		background: url('../img/logo.png') no-repeat center center;
	}
}
.block2 {
	background: url('../img/block1-bg.jpg') no-repeat center center;
	padding: 50px 0 0;

	.inline-form {
		margin-top: 60px;
		position: relative;
		text-align: center;

		input[type=text], input[type=email] {
			width: 423px;
			height: 50px;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			font-size: 18px;
			color: darken(#7878d8, 5%);
		}
		input.name {
			padding-left: 35px;
			background: url('../img/input-name-icon.png') no-repeat left 10px center;
		}
		input.phone {
			padding-left: 35px;
			background: url('../img/input-phone-icon.png') no-repeat left 10px center;
		}
		.form-title {
			font-size: 32px;
		}
		input[type=submit] {
			position: relative;
			z-index: 10;
			display: block;
			width: 423px;
			height: 67px;
			margin: 5px auto;
			background: #7878d8;
			border: none;
			color: #f4eade;
			font-size: 30px;
		}
		input[type=submit]:hover {
			background: lighten(#7878d8, 5%);
		}
		.man-left, .man-right {
			position: absolute;
			z-index: 1;
		}
		.man-left {
			width: 245px;
			height: 217px;
			left: 30px;
			bottom: -73px;
			background: url('../img/man1-icon.png') no-repeat center center;
		}
		.man-right {
			width: 279px;
			height: 279px;
			right: 25px;
			bottom: -97px;
			background: url('../img/man2-icon.png') no-repeat center center;
		}
	}
}
.block3 {
	background: url('../img/block2-bg.png') no-repeat center center;
	height: 450px;
	padding: 90px 0;
	position: relative;
	bottom: -130px;
	color: #fff;

	.advantages-list {
		margin-top: 50px;
		text-align: center;
	}
	.advantage-single {
		display: inline-block;
		width: 15.5%;
		vertical-align: top;
		text-align: center;
		margin-right: -4px;
	}
	.img-wrapper {
		height: 78px;
	}
}
footer {
	background: url('../img/footer-bg.jpg') no-repeat center center;
	height: 625px;
	padding-top: 155px;
	text-align: center;

	.order-btn {
		display: block;
		width: 423px;
		height: 67px;
		margin: 25px auto;
		background: #7878d8;
		border: none;
		color: #f4eade;
		font-size: 30px;
		text-decoration: none;
		padding-top: 20px;
	}
	.order-btn:hover {
		background: lighten(#7878d8, 5%);
	}
}


#thanks {
	margin: 0 auto;
	width: 720px;
	padding: 40px 0;
	background: #eeefea;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	text-align: center;

	p {
		font-size: 24px;
	}
}
.popup-form {
		margin: 0 auto;
		width: 720px;
		padding: 40px 0;
		background: #eeefea;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		border-radius: 6px;
		position: relative;
		text-align: center;

		input[type=text], input[type=email] {
			width: 423px;
			height: 50px;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			font-size: 18px;
			color: darken(#7878d8, 5%);
		}
		textarea {
			width: 423px;
			height: 170px;
			margin-bottom: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			font-size: 18px;
			color: darken(#7878d8, 5%);
			resize: none;
		}
		input.name {
			padding-left: 45px;
			background: url('../img/input-name-icon.png') no-repeat left 15px center #fff;
		}
		input.phone {
			padding-left: 45px;
			background: url('../img/input-phone-icon.png') no-repeat left 15px center #fff;
		}
		input.email {
			padding-left: 45px;
			background: url('../img/input-email-icon.png') no-repeat left 10px center #fff;
		}
		.form-title {
			font-size: 32px;
		}
		input[type=submit] {
			position: relative;
			z-index: 10;
			display: block;
			width: 215px;
			height: 55px;
			margin: 5px auto;
			background: #7878d8;
			border: none;
			color: #f4eade;
			font-size: 24px;
		}
		input[type=submit]:hover {
			background: lighten(#7878d8, 5%);
		}
}